<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.developals.zsebpiac">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ZsebPiac"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProducersListActivity" />
        <activity android:name=".ChooseActivity" />
        <activity android:name=".ProductListActivity" />
        <activity android:name=".MyProductListActivity" />
        <activity android:name=".ProducersDataActivity" />
        <activity android:name=".NewProductActivity" />
        <activity android:name=".ProducersData2Activity" />
        <activity android:name=".NameActivity" />
        <activity android:name=".DisplayNameActivity" />
        <activity android:name=".PhoneActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".ModifyPasswActivity" />
        <activity android:name=".ProducerIdActivity"></activity>
    </application>

</manifest>